<% content_for :head do %>
  <%= stylesheet_link_tag "article-white" %>
<% end %>
  <h1 class="article-title">
    <%= @article.title %>
  </h1>
<div class=" article-body text-left">

  <%= @article.body.html_safe %>
</div>