<div class="error-text">
  <p>
    К сожалению, такой страницы больше нет. А может, и не было.
  </p>
  <p>
    Но лучше ходить по тупикам, чем не пытаться вообще.
  </p>
  <%= link_to "На главную", root_path %>
</div>
