<div class="error-text text-center">
  
  <p>
    К сожалению, такой страницы больше нет. А может, и не было.
  </p>
  <p>
    Но лучше ходить по тупикам, чем не пытаться вообще.
  </p>
  <p>
    <%= image_tag("404.jpg", style: "max-width: 100%; height: auto;") %>
  </p>
  <%= link_to "На главную", root_path %>
</div>
