@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Muller Light";
  src:font-url('/assets/MullerNarrow-Light.otf');
}

html, body {
  background: white;  
}
.articles .row {
  margin-bottom: 50px;
}
.logo {
  font-size: 38px;
  font-weight: 400;
  letter-spacing: -3px;
}
.logo a {
  color: black;
  text-decoration: none;
}
h1,h2,h3,h4,h5,body {
  font-family: "Muller Light","Helvetica Neue",sans-serif;
  word-wrap: break-word;
}
.articles {
  margin-top: 30px;
}
.main-search {
  margin-top: 20px;
}
.main-list {
  border: none;
}
.cool-borders {
  border-top: 3px solid darkgrey;
  border-bottom: 3px solid darkgrey;
  border-radius: 50px 50px 50px 50px 
}
.views-comments-thumb div {
  display: inline-block;
  padding-right: 5px
}
.views-comments-thumb a {
  color: inherit;
}
.no-link {
  text-decoration: none !important;
}
.no-link:hover {
  background-color: #FFEBCD;
}
.no-link:hover h3 {
  text-decoration: underline;
}
.no-link:hover .image-container, .no-link:hover .big-image-container, .no-link:hover .text-container  {
  opacity: 0.8;  
}
.most-popular {
  background-color: blue;
  padding: 10%;
  padding-top: 5%;
}
.most-popular .views-comments-thumb {
  border-bottom: 2px solid pink;
}
.most-popular h4 a {
  color: white;
}
.simple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }
  .simple_pagination a, .simple_pagination span {
    padding: 0.2em 0.3em; }
  .simple_pagination .disabled {
    color: #aaaaaa; }
  .simple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: pink;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .simple_pagination a {
    text-decoration: none;
    color: black; }
    .simple_pagination a:hover, .simple_pagination a:focus {
      text-decoration: underline; }
.article-desc h3 {
  margin: 0px;
  font-weight: 600;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
}
.text-container {
    overflow:hidden;
    text-overflow: ellipsis;
    content: "";
    position:relative;
    background-color: pink;
    display:table;
    width: 100%;
    color: black;
}
.text-container-top {
    margin-bottom: 10px;
    background-color: darkgrey;
}
.text-container-bottom {
    margin-top: 10px;  
}
.text-container .glyphicon-chevron-up, .text-container .glyphicon-chevron-down, .text-container .glyphicon-chevron-left {
  color: #6d6b6b;
}
.text-vertical {
  display:table-cell;
  vertical-align: middle;
}
.image-container {
  margin-bottom: 10px;
}
.article-item {
  padding-left: 5px;
  padding-right: 5px;
}
.big-image-container {
  margin-bottom: 10px;
}
.error-text {
  font-size: 20px;
  margin: 5%;
}