@import "bootstrap-sprockets";
@import "bootstrap";

@media (max-width: 992px) {
    .affix, .affix-top, .affix-bottom {
        position: static;
    }
}

html, body {
  background: #c9f1fd;  
}
.logo {
  font-weight: 900;
  letter-spacing: -3px;
  }
h1,h2,h3,h4,h5,body {
  font-family: Ubuntu,"Helvetica Neue",sans-serif;
  word-wrap: break-word;
}
.articles {
  margin-top: 20px;
}
.thumbnail {
  background: #c9f1fd;
  border: none;
}
.main-search {
  margin-top: 20px;
}
.main-search #searchinput {
  width: 50%;
}
.main-list {
  border: none;
}
.cool-borders {
  /*background: white;*/
  border-top: 3px solid rgb(175, 209, 218);
  border-bottom: 3px solid rgb(175, 209, 218);
  border-radius: 50px 50px 50px 50px 
}
.views-comments-thumb div {
  display: inline-block;
  padding-right: 5px
}
.no-link {
  text-decoration: none !important;
}
.no-link:hover .thumbnail {
  background-color: #FFEBCD;
}
.no-link:hover .thumbnail h3 {
  text-decoration: underline;
}
.most-popular {
  background-color: #afd1da;
  padding: 10%;
  padding-top: 5%;
}
.most-popular .views-comments-thumb {
  border-bottom: 2px solid #8DB8C4;
}
.most-popular a {
  color: black;
}
.affix {
      top: 1px;
}
.affix-menu {
  margin-bottom: 50px;
}
.simple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }
  .simple_pagination a, .simple_pagination span {
    padding: 0.2em 0.3em; }
  .simple_pagination .disabled {
    color: #aaaaaa; }
  .simple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #afd1da;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .simple_pagination a {
    text-decoration: none;
    color: black; }
    .simple_pagination a:hover, .simple_pagination a:focus {
      text-decoration: underline; }
.article-title {
  font-size: 54px;
  font-weight: bold;
  letter-spacing: -2px;
  word-wrap: break-word;
}