.cool-borders {
  background: white;
}
.article-body {
  margin-bottom: 50px;
  font-size: 17px;
  line-height: 1.50;
}
.article-body ol {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 2;
}
.thumbnail {
  background: inherit;
}
.no-link:hover .thumbnail {
  background-color: inherit;
}
.most-relevant {
  margin-top: 20px;
  margin-bottom: 50px;
  border-left: 5px solid rgb(175, 209, 218);
  background-color: rgb(245, 253, 255);
}
.comments {
  margin-bottom: 50px;
}
div .social-block {
  display: block;
}
blockquote:before {
  content: "\201C";
  font-weight: bold;
  font-size: 80px;
  color: #8DB8C4;
  font-family: "Times New Roman", Georgia, Serif;   
}
blockquote p {
  margin-top: -50px;
  font-style: italic;
}
blockquote {
  border-color: #afd1da;
}