.title-block {
  padding-bottom: 5px;
  margin-bottom: 5%;
  border-bottom: 2px solid darkgrey;
  color: darkslategrey;
}
.title-block a {
  color: darkslategrey;
}
.article-title {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -2px;
  word-wrap: break-word;
}
.article-body {
  margin-bottom: 50px;
  font-size: 1.9rem;
  line-height: 1.50;
  overflow: auto;
}
.article-body img {
  max-width: 100%;
  height: auto;
  background-color: pink;
}
.article-body ol {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 2;
}
.article-author {
  text-decoration: underline;
}
.thumbnail {
  background: inherit;
  border: none;
}
.no-link:hover .thumbnail {
  background-color: inherit;
}
.most-relevant {
  margin-top: 20px;
  margin-bottom: 50px;
  border-top: 2px solid darkgrey;
  border-bottom: 2px solid darkgrey;
}
.comments {
  margin-bottom: 50px;
}
div .social-block {
  display: block;
}
blockquote {
  border-color: #afd1da;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-size: 2rem;
}
blockquote:before {
  color: #8DB8C4;
  font-family: "Times New Roman", Georgia, Serif;  
  font-weight: bold;
  content: "\201C";
  font-size: 4em;
  line-height: 0.3em;
  margin-right: 0.25em;
  vertical-align: -0.4em;

}
blockquote p {
  font-style: italic;
}